.vietcard-container {
    margin: 50px 0
}

.vietcard-container,.vietcard-container * {
    box-sizing: border-box
}

.vietcard-container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px
}

.vietcard {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,.66);
    transition: box-shadow .2s ease,transform .2s ease
}

.vietcard:hover {
    box-shadow: 0 34px 32px -33px rgba(0,0,0,.18);
    transform: translate(0,-3px)
}

.vietcard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg,#424242,transparent 50%);
    opacity: .07
}

.vietcard:nth-child(2n)::before {
    background-image: linear-gradient(-250deg,#424242,transparent 50%)
}

.vietcard-innerbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.vietcard-img {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 0;
    left: 0;
    transition: transform .2s ease
}

.vietcard:nth-child(2n) .vietcard-img {
    left: initial;
    right: 0
}

.vietcard:hover .vietcard-img {
    transform: scale(1.05) rotate(1deg)
}

.vietcard:hover .vietcard-bar {
    width: 70px
}

.vietcard-textbox {
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 430px;
    width: calc(100% - 470px);
    font-size: 17px
}

.vietcard:nth-child(2n) .vietcard-textbox {
    left: initial;
    right: 430px
}

.vietcard-textbox::after,.vietcard-textbox::before {
    content: "";
    position: absolute;
    display: block;
    background: #ff0000bb;
    background: #fff;
    top: -20%;
    left: -55px;
    height: 140%;
    width: 60px;
    transform: rotate(8deg)
}

.vietcard:nth-child(2n) .vietcard-textbox::before {
    display: none
}

.vietcard-textbox::after {
    display: none;
    left: initial;
    right: -55px
}

.vietcard:nth-child(2n) .vietcard-textbox::after {
    display: block
}

.vietcard-textbox * {
    position: relative
}

.vietcard-title {
    font-family: Voces,'Open Sans',arial,sans-serif;
    font-size: 24px
}

.vietcard-subtitle {
    font-family: Voces,'Open Sans',arial,sans-serif;
    color: #888
}

.vietcard-bar {
    left: -2px;
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width .2s ease
}

.vietcard-blue .vietcard-bar {
    background-color: #08f
}

.vietcard-blue::before {
    background-image: linear-gradient(-70deg,#08f,transparent 50%)
}

.vietcard-blue:nth-child(2n)::before {
    background-image: linear-gradient(-250deg,#08f,transparent 50%)
}

.vietcard-red .vietcard-bar {
    background-color: #d62f1f
}

.vietcard-red::before {
    background-image: linear-gradient(-70deg,#d62f1f,transparent 50%)
}

.vietcard-red:nth-child(2n)::before {
    background-image: linear-gradient(-250deg,#d62f1f,transparent 50%)
}

.vietcard-green .vietcard-bar {
    background-color: #40bd00
}

.vietcard-green::before {
    background-image: linear-gradient(-70deg,#40bd00,transparent 50%)
}

.vietcard-green:nth-child(2n)::before {
    background-image: linear-gradient(-250deg,#40bd00,transparent 50%)
}

.vietcard-customcolor .vietcard-bar {
    background-color: var(--vietcard-color)
}

.vietcard-customcolor::before {
    background-image: linear-gradient(-70deg,var(--vietcard-color),transparent 50%)
}

.vietcard-customcolor:nth-child(2n)::before {
    background-image: linear-gradient(-250deg,var(--vietcard-color),transparent 50%)
}

.vietcard-description {
    z-index: 10;
    font-size: 15px;
    color: #424242;
    height: 125px;
    overflow: hidden;
    text-overflow: ellipsis
}

.vietcard-tagbox {
    position: absolute;
    bottom: 3%;
    font-size: 14px;
    cursor: default;
    user-select: none;
    pointer-events: none
}

body {
    background: #e4e4ed
}

[type=submit] {
    font-family: Montserrat,Arial,Helvetica,sans-serif;
    width: 100%;
    background: #c6c;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .3s;
    margin-top: -4px;
    font-weight: 700
}

[type=submit]:hover {
    background: #581a51
}


