body{
    margin-left: 40px;
}
.Contact{
    display: flex;
}
.Contact_Adress{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}
.Contact_Text{
    margin-left: 10px;
}
.Contact_form__yLUGD input, .Contact_form__yLUGD textarea {
    border: 2px solid #e8e8e8;
    border-radius: 6px;
}

.Input-module_s__1BlUy {
    height: 36px;
    padding: 4px 12px;
}

.Input-module_input__2Miak {
    appearance: none;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    color: var(#333);
    font-family: inherit;
    width: 30%;
}
.PlainTextarea-module_textarea__u3Wvp.PlainTextarea-module_invalid__2drkq {
    background-color: #fdebee;

}
.Form{
    width: 400px;
    
    margin-top: 10px;
    border: 2px solid #e8e8e8;
    border-radius: 6px;
    background-color:#fff;
    border-style: solid;
    border-width: 1.6px;
    color: #333333;
    font-family: system-ui;
    font-size: 14px;
    line-height: 15.68px;
    padding: 12px;
    transition: all 0.2s ease-in;
}
.Form:hover{
    border-color: #3498db;
}
.Tong-The{
    position: absolute;
    top : 100px;
    left: 800px;
}

@media screen and (max-width: 1000px){
    .thongtin{

    }
    .Tong-The{
        display: none;
    }
    p{
        width: 100%;
    }
    body{
        margin-left: 20px;
    }
    .Form{
        width: 300px;
    }
}