body {
position: absolute;
width: 1294px;
height: 848px;
left: 0px;
top: 0px;
}
.trangweb {
    position: absolute;
width: 1294px;
height: 848px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 15px;
}
.relux {
    box-sizing: border-box;

position: absolute;
width: 283px;
height: 805px;
left: 22px;
top: 22px;

border: 1.5px solid #DDDDDD;
box-shadow: 0px 0px 3px 1px rgba(139, 139, 139, 0.19);
border-radius: 10px;
}
.tagten {
    
position: absolute;
width: 262px;
height: 56px;
left: 32px;
top: 32px;

background: #D94040;
border-radius: 10px;
}
.groupten {
    position: absolute;
width: 132px;
height: 42px;
left: 36px;
top: 37px;

}
.imgd {
    
position: absolute;
width: 43px;
height: 42px;
left: 36px;
top: 37px;

border-radius: 50px;
}
.group56 {
    position: absolute;
width: 77.03px;
height: 17px;
left: 47px;
top: 136px;
}
.vector2 {
    position: absolute;
left: 3.63%;
right: 95.06%;
top: 16.04%;
bottom: 82.08%;

background: #F0F0F0;
}
.home2 {
    position: absolute;
width: 40px;
height: 17px;
left: 84.03px;
top: 136px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #F0F0F0;
}
.box2 {
    box-sizing: border-box;

position: absolute;
width: 283px;
height: 805px;
left: 22px;
top: 22px;

border: 1.5px solid #DDDDDD;
box-shadow: 0px 0px 3px 1px rgba(139, 139, 139, 0.19);
border-radius: 10px;
}